.page8 {
   background: $twogeneral-color;
}
.input {
   padding: 1rem 0px 1rem 1.5rem;
   border-radius: 8px;
   background: rgb(255, 255, 255);
   color: rgb(101, 109, 114);
   font-size: 0.875rem;
   line-height: 1.2142;
   border: 3px solid transparent;
   &:focus{
      border: 3px solid #000;
   }
}
.form {
   &__container {
      @include adClamp("padding-top", 104, 40);
      @include adClamp("padding-bottom", 134, 60);
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media(max-width:767.98px){
         display: flex;
         flex-direction: column;
         gap: 24px;
      }
   }

   &__forms {
      display: flex;
      flex-direction: column;
      flex: 0 1 50%;
      @media(max-width:767.98px){
         width: 100%;
      }
   }

   &__body-btn {
      border: 1px solid rgb(234, 230, 254);
      border-radius: 0.5rem;
      background: rgb(126, 116, 241);
      padding: 1rem 1.5rem;
      color: #fff;
      transition: all .3s ease 0s;
      &:hover{
         transition: all .3s ease 0s;
         background: rgb(96, 81, 255);
      }
   }

   &__body-name {
      margin-bottom: 16px;
   }
   
   &__body-email {
      @include adClamp("margin-bottom", 24, 18);
   }

   &__body-textarea {
      @include adClamp("margin-bottom", 48, 36);
      max-width: 100%;
      min-height: 44.78673%; /* 189/422 */
      resize: none;  
   }

   &__contact {
      flex: 0 1 27.833333%;
   }
}
.contact-form {
   &__items {
      display: flex;
      flex-direction: column;
      @include adClamp("gap", 48, 32);
      @media(max-width:767.98px){
         flex-direction: row;
         flex-wrap: wrap;
      }
   }

   &__item {
      display: flex;
      gap: 1rem   ;
   }

   &__img {
   }

   &__contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
   }

   &__name {
      color: rgb(35, 46, 53);
      font-weight: 500;
      line-height: 1.1875;
   }

   &__address {
      color: rgb(101, 109, 114);
      font-size: 0.875rem;
      line-height: 1.714;
   }
}
